.audioElements__mainPlayer___1XqiC > .audioElements__btnStack___JMnsK {
    max-width: 80%;
    display: inline-block !important;
}

.audioElements__timeNameContainer___2meEl {
  /* display: inline-block !important; */
  background: blueviolet;
  width: 200px !important;
  margin-left: 0 !important;
}
