.App {
  text-align: center;
}


.App-logo {
/*  animation: App-logo-spin infinite 20s linear;*/
  height: 100%;
}

.App-logo img {
/*  animation: App-logo-spin infinite 20s linear;*/
  max-width: 100%;
}

@media screen and (max-width: 699px) {
	.App-logo {
/*  animation: App-logo-spin infinite 20s linear;*/
  max-height: 91%;
	max-width: 91%;
}
	.App-header {
    margin-bottom: 0 ! important;
}

}

.App-header {
  height: auto;
	margin-top: .8em;
	margin-bottom: .3em;
}

.App-header img {
/*  animation: App-logo-spin infinite 20s linear;*/
/*  max-width: 100%;*/
	width: 100%;
}

@media screen and (min-width: 520px) {
	.App {
    max-width: 80%;
    margin: auto;
		    margin-bottom: 1em;
   }
    .App-header {
/* text-align: right;*/
	margin-top: .8em;
	margin-bottom: .3em;
}

	.navMenu a {
    padding-bottom: .5em;
}
}

.App-intro {
  font-size: large;
}

.navMenu {
	    margin: .5em 0 0 0;
}

.navMenu p {
    display: inline;
    margin: 1.75em;
    padding: 0 .75em 0 .75em;
    background: #260e27;
}

.navMenu a {
    color: #fff;
}

 html {
  /* height: 100% !important; */
  padding-bottom: 100%;
}


/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
