html{
	background: linear-gradient(105deg, #200026, #649433);
/*	height: 100%;*/
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
	}

#livePlayerContainer, #playerContainer, #chat {
	width: 80%;
  margin: 0 auto;
}


@media screen and (max-width: 699px) {
	html {
		height: auto;
	}
	
	#playerContainer, #chat {
	width: 91%;
		padding: .5em;
		}
}

.btn-primary {
	margin-bottom: .5em;
}

.chatbro_chat {
	width: 100% ! important;
}