html{
	background: linear-gradient(105deg, #200026, #649433);
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	}

#livePlayerContainer, #playerContainer, #chat {
	width: 80%;
  margin: 0 auto;
}


@media screen and (max-width: 699px) {
	#playerContainer {
	width: 91%;
		padding: .5em;
}
}